.navbar-logo img {
  width: 45px;
  height: 39px;
  flex-shrink: 0;
}
:root {
  --primary-color: #003060;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  height: 80px;
  border-radius: 13px;
}

.navbar-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 19px;
  list-style: none;
  align-items: center;
}
.menu-icons {
  font-size: 20px;
}
.navbar-links {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  font-family: "Inconsolata", monospace;
}
.navbar-links:hover {
  border-bottom: 4px solid white;
  transition: all 200ms ease-in-out;
}
.menu-icons {
  display: none;
}
h2 {
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}
h5 {
  font-family: Inder;
  font-size: 18px;
  font-weight: 500;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: -50px;
}
.Head {
  background-image: url("images/banner.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  text-align: center;
  padding: 220px 0px;
  color: white;
  margin: -150px -8px;
}
h3 {
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 13px;
  background-color: #251c46;
  color: white;
  text-decoration: none;
  padding: 20px 17px;
}
.Button {
  display: flex;
  justify-content: space-around;
  margin-left: 320px;
  margin-right: 340px;
  margin-top: 0px;
}
.events-link {
  background: transparent;
  border: 2px solid #251c46;
  padding: 18px 12px;
}
.Home-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 150px;
  padding: 0;
}
.about-content {
  background: #eee;
  margin-left: -150px;
  margin-right: -8px;
  margin-top: 20px;
}
.about-content1 {
  background: transparent;
  color: #251c46;
  font-size: 19px;
  margin-left: 30px;
  margin-top: 70px;
}
.about-content2 {
  margin-left: 50px;
  margin-bottom: 60px;
  text-align: justify;
  margin-right: 90px;
  font-size: smaller;
}
.about-content-link {
  margin-left: 50px;

  border: 1px solid #251c46;
  padding: 10px 15px;
}
.pic {
  background: #433672;
  margin-top: 20px;
  margin-left: -10px;
}
.pic img {
  width: 350px;
  margin-left: 60px;
}
.home-events-content p {
  background-color: grey;
  padding: 2px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 90px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.home-events-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: -2px;
}
.home-events-content img {
  width: 400px;
  height: 270px;
  margin-left: 5px;
}
.home-events-content h4 {
  color: #251c46;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.home-gallery-img {
  width: 400px;
  height: 320px;
  margin: 0 auto;
  display: block;
  margin-bottom: -50px;
}

.swiper-slide img {
  width: 430px;
  height: 320px;
}
.home-gallery {
  background-color: #eee;
  margin-top: 190px;
  margin-bottom: 100px;
  padding: 0 0 100px 0;
  margin-left: -7px;
  margin-right: -5px;
}
.home-swiper {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -50px;
}
.slider-controler .swiper-button-next {
  color: white;
}
.slider-controler .swiper-button-prev {
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #251c46;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
  }
  .navbar-menu.active {
    left: 0;
    opacity: 1;
  }
  .navbar-links {
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 19px;
    padding: 1.3rem 0px;
  }
  .navbar-links:hover {
    transition: all 0.3ms ease-in-out;
    font-weight: 700;
    border-bottom: none;
  }
  .navbarContainer {
    z-index: 99;
  }
  .navbar-logo {
    color: white;
    z-index: 1;
  }
  .menu-icons {
    display: block;
    color: white;
    font-size: 25px;
    z-index: 1;
  }
  h5 {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .Button {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-events-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-events-content img {
    width: 330px;
    height: 240px;
  }
  .eventsPic3 {
    display: block;
  }
  .swiper-slide img {
    width: 350px;
    height: 300px;
  }
  .home-swiper {
    margin-left: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .Home-about {
    display: block;
  }
  .about-content {
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -69px;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
  .pic img {
    width: 270px;
    margin-left: 80px;
  }
  .pic {
    margin-right: -8px;
  }
  .home-events-content {
    display: block;
    margin-left: 10px;
  }
  .home-events-content img {
    width: 330px;
    height: 230px;
  }
}
